* {
    background-color: #262933;
    color: #f3f0f0;
}

.content {
    margin: 3px;
    margin-left: 13.6px;
    margin-right: 13.6px;
    padding: 5px;
}

.img {
    max-width: 38.4rem; 
    max-height: 38.4rem;
  }