<body>
  <div class="content rounded">
    <h3>Login to your account</h3>
    <form [formGroup] = "loginForm" (ngSubmit)="validateForm()">
      <div>
        <label for="username">Username*</label><br>
        <input type="text" name="username" id="username" placeholder="A name for your account"
          class="form-control" formControlName="username">
      </div><br>
      <div>
        <label for="password">Password*</label><br>
        <input type="password" name="password" id="password" placeholder="A password to protect your account"
          class="form-control" formControlName="password">
      </div><br>
      <button class="btn btn-primary" type="submit">Login</button>
    </form><br>
  </div>
</body>