* {
    background-color: rgb(240, 244, 254);
  }

.navbar {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.search {
    background-color: transparent;
}

.profilePic {
  width: 2rem; 
  height: 2rem;
}