* {
  background-repeat:no-repeat;
  background-size:100% 100vh;
  color: #f3f0f0;
}

body {
  padding-bottom: 10px;
}

.content {
  margin: 3px;
  margin-left: 13.6px;
  padding: 5px;
}

.row {
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  display: flex;

}

.col {
  margin: 0px;
  padding: 0px;
}

.card {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  width: 15rem; 
  padding-left: 5px; 
  padding-right: 5px;
  border: none;
}

.profilePic {
  width: 2rem; 
  height: 2rem;
}

.card-img-top {
  margin: 0px;
  padding: 0px;
  max-height: 30rem;
}

.rounded img-fluid {
  margin: 0px;
  padding: 0px;
}

.card-block {
  padding-top: 8px; 
  padding-left: 5px; 
  padding-right: 5px;
}