<body>
  <div class="content rounded" style="background-color: #262933; padding: 15px; margin: 15px;">
    <div class="row">
      <div class="col-sm-7">
        <a class="card bg-transparent" [href]="'http://127.0.0.1:8000/' + post.image">
          <img class="card-img rounded img-fluid" [src]="'http://127.0.0.1:8000/' + post.image" alt="Image"/>
        </a>
        <p><img class="likeimg rounded img-fluid" src="assets/Like.png" alt="Profile Picture"/> {{postLikes}} - Posted {{postDate}}</p>
      </div>
      <div class="col-sm-5">
        <div class="card bg-transparent">
          <div class="card-block">
            <h3><a [routerLink] = "['/user/', post.user]"><img class="postProfilePic rounded-circle img-fluid" [src]="'http://127.0.0.1:8000/' + postProfilePic" alt="Profile Picture"/></a> {{postUsername}}</h3>
            <h4>{{post.title}}</h4>
            <p>{{post.text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-outline-light" *ngIf="post.user === user" (click) = "onEditPost(post.id)">Edit</button><button class="btn btn-danger" *ngIf="post.user === user" (click) = "onDeletePost(post.id)">Delete</button>
      </div>
    </div>
    <br *ngIf="post.user === user">
    <div class="row" *ngIf = "loggedIn() == true">
      <div class="col-sm-6">
        <ng-container *ngIf = "liked == true; else unLiked">
          <button class="likebtn btn btn-danger" (click) = "onLike()"><img class="likeimg rounded img-fluid" src="assets/Like.png" alt="Profile Picture"/> Unlike</button>
        </ng-container>
        <ng-template #unLiked>
          <button class="likebtn btn btn-outline-light" (click) = "onLike()"><img class="likeimg rounded img-fluid" src="assets/Like.png" alt="Profile Picture"/> Like</button>
        </ng-template>
        <button class="btn btn-outline-light" (click) = "onAddComment(post.id)">Add Comment</button>
        <br><br>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let comment of post.comments">
        <h6><a [routerLink] = "['/user/', comment.user]"><img class="commentProfilePic rounded-circle img-fluid" [src]="'http://127.0.0.1:8000/' + commentProfilePics[comment.user]" alt="Profile Picture"/></a> {{commentUsernames[comment.user]}} - {{commentDates[comment.id]}}</h6>
        <p>{{comment.text}}</p>
        <div *ngIf="comment.user === user">
          <button class="btn btn-outline-light" (click) = "onEditComment(post.id, comment.id)">Edit</button><button class="btn btn-danger" (click) = "onDeleteComment(comment.id)">Delete</button>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</body>