<body style="background-color: rgb(87, 133, 93); background-image: url('assets/Background.gif');">
  
  <div class="content">
    <br>
    <h1 class="center title gradient"><b>Art Share</b></h1>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br>
  <div class="content rounded" style="background-color: #262933; margin-right: 15px;">
    <div class="row">
      <ng-container *ngIf = "isloggedIn() == true; else loggedOut">
        <h3>Hello {{username}}</h3>
        <br><br><br>
        <div class="col-sm buttons">
          <button class="btn btn-outline-light" (click) = "onAddPost()">Add New Post</button>
        </div>
      </ng-container>
      <ng-template #loggedOut>
        <p>Login to add your own posts</p>
      </ng-template>
      <div class="col-sm form-check">
        <label class="form-check-label" for="newest">Newest Posts</label>
        <input class="form-check-input" type="radio" [(ngModel)]="sortOption" (change)="onSortChange()" id="newest" value="Newest">
      </div>
      <div class="col-sm form-check">
        <label class="form-check-label" for="liked">Popular Posts</label>
        <input class="form-check-input" type="radio" [(ngModel)]="sortOption" (change)="onSortChange()" id="liked" value="Popular">
      </div>
      <div class="col-sm-7"></div>
      <br><br>
    </div>
    <div class="row">
      <br><br><br>
      <p>{{sortOption}} posts</p>
      <div class="col" *ngFor = "let post of posts">
        <div class="card bg-transparent">
          <div class="card-img-top">
            <a [routerLink] = "['/posts/', post.id]"><img class="rounded img-fluid" [src]="'http://127.0.0.1:8000/' + post.image" alt="Uploaded Image"/></a>
          </div>
          <div class="card-block">
            <h5> {{post.title}} </h5>
            <a [routerLink] = "['/user/', post.user]"><h6><img class="profilePic rounded-circle img-fluid" [src]="'http://127.0.0.1:8000/' + postProfilePics[post.user]" alt="Profile Picture"/>{{postUsernames[post.user]}}</h6></a>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>