* {
  background-color: #262933;
  color: #f3f0f0;
}

body {
  background-color: rgb(110, 184, 243);
  padding-bottom: 3px;
}

.content {
  margin: 3px;
  margin-left: 13.6px;
  padding: 5px;
}

.row {
  margin: 0px;
  padding: 0px;
  align-content: center;
}

.col {
  margin: 0px;
  padding: 0px;
}

.card {
  margin: 0px;
  padding: 0px;
  padding-left: 0px; 
  padding-right: 0px;
  border: none;
}

.postProfilePic {
  width: 4rem; 
  height: 4rem;
}

.commentProfilePic {
  width: 2rem; 
  height: 2rem;
}

.card-img {
  cursor: pointer;
}

.rounded img-fluid {
  margin: 0px;
  padding: 0px;
}

.card-block {
  padding-top: 8px; 
  padding-left: 5px; 
  padding-right: 5px;
}