<div>
  <h2>Art Share</h2>
  <ng-container *ngIf = "authService.isAuthenticated(); else loggedOut">
    Hello {{ username }}
    <br>
    {{ user }}
    {{ token }}
    <button onclick = "window.location.href='http://localhost:4200/addPost';">
      Add New Post
    </button><br><br>
  </ng-container>
  <ng-template #loggedOut>
    Hello
    <h5>Login to add your own posts</h5><br>
  </ng-template>
    <div *ngFor = "let post of posts">
        <div class="post">
          <div style= "padding: 10px;">
            <h4> {{ post.user }} </h4>
            <p> {{ post.text }} </p>
          </div>
          <div>
            <img [src]="'http://127.0.0.1:8000/' + post.image" alt="Image"/>
          </div>
        </div>
        <div>
          <br><br>
    </div>
</div>