<body>
  <div class="content rounded" style="background-color: #262933; padding: 15px; margin: 15px;">
    <div class="row">
      <ng-container *ngIf = "loggedIn() == true; else loggedOut">
        <h3>Hello {{username}}</h3>
        <br><br><br>
        <div>
          <button class="btn btn-outline-light" (click) = "onAddPost()">Add New Post</button><br><br>
        </div>
        <br><br>
        <p>Search Results</p>
      </ng-container>
      <ng-template #loggedOut>
        <p>Login to add your own posts</p>
        <p>Search Results</p>
      </ng-template>
      <div class="row">
        <div class="col" *ngFor = "let post of posts">
          <div class="card bg-transparent" [routerLink] = "['/posts/', post.id]">
            <div class="card-img-top">
              <img class="rounded img-fluid" [src]="'http://127.0.0.1:8000/' + post.image" alt="Image"/>
            </div>
            <div class="card-block">
              <h5> {{post.title}} </h5>
              <h6><img class="profilePic rounded-circle img-fluid" [src]="'http://127.0.0.1:8000/' + postProfilePics[post.user]" alt="Profile Picture"/> {{postUsernames[post.user]}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>