<body>
  <div class="content rounded">
    <div class="row">
      <div class="col-sm-6">
        <div class="card bg-transparent">
          <div class="card-img">
            <img class="rounded-circle img-fluid" [src]="'http://127.0.0.1:8000/' + userProfile.profile_pic" alt="Profile Picture"/><br><br>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-transparent">
          <h3> {{userProfile.username}}</h3>
          <p *ngIf = "user === userProfile.id; else altView"> {{userProfile.email}} 
            <br> Joined {{userProfileDate}}
          </p>
          <button class="btn btn-outline-light" *ngIf="user === userProfile.id" (click) = "onEditUser(user)">Edit</button>
          <ng-template #altView>
            <p>Joined {{userProfileDate}}</p>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row">
      <p>View posts by {{userProfile.username}}</p>
      <div class="col" *ngFor = "let post of posts">
        <div class="post card bg-transparent" *ngIf = "post.user === userProfile.id" [routerLink] = "['/posts/', post.id]">
          <div class="card-img-top">
            <img class="rounded img-fluid" [src]="'http://127.0.0.1:8000/' + post.image" alt="Uploaded Image"/>
          </div>
          <div class="card-block">
            <h5> {{post.title}} </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>